{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <div class="content container-fluid">
        <div class="side-bar">
            <ul>
                <li><a class="btn btn-default" href="{% url 'motoryzacja_category' %}">Motoryzacja</a></li>
                <li><a class="btn btn-default" href="{% url 'elektronika_category' %}">Elektronika</a></li>
                <li><a class="btn btn-default" href="{% url 'sport_category' %}">Sport</a></li>
                <li><a class="btn btn-default" href="{% url 'uslugi_category' %}">Usługi</a></li>
                <li><a class="btn btn-default" href="{% url 'inne_category' %}">Inne</a></li>
            </ul>
        </div>
        <a href="{% url 'post_new' %}" class="top-menu"><span class="addpost glyphicon glyphicon-plus"></span></a>
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>